

.a-unselected {
    text-decoration: none; 
    color: white; 
    font-size:large;
}

.a-selected {
    text-decoration: none; 
    color: white; 
    text-transform: uppercase; 
    font-weight: 600; 
    font-size: 20px;
    font-style: italic; 
    font-size:x-large;
}

.a-selected:hover {
    color: white; 
}

.a-unselected:hover {
    font-weight: 750; 
    color: white; 
}

.hr-wrapper {
    border: solid 1px white;
    background-color: white; 
    color: white;
}

.col-wrapper {
    margin-top: -2.5px; 
}

.container-blue {
    background-color: rgb(5, 45, 114);
}

.border-primary {
    border-color: rgb(19, 43, 71) !important;
}