.icon-wrapper {
    background-color: transparent; 
    background-repeat: no-repeat; 
    border: none; 
    outline: none; 
    overflow: hidden; 
    cursor: pointer;
}

.input-modal {
    background-color: grey;
}

.modal-header-wrapper {
    font-size:22px;
    font-style: italic;
    color: white; 
    font-weight: 600;
}

.modal-add-wrapper {
    background-color: transparent; 
    border-color: black; 
}