.text-input-wrapper {
    background-color: rgb(71, 71, 71);
    border-color: rgb(71, 71, 71);
    color: white; 
}

.text-input-wrapper::selection, .text-input-wrapper:focus {
    background-color: rgb(71, 71, 71);
}

.form-label-text {
    color: white;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    font-size:medium;
}

.server-header {
    font-style: italic;
    color: white;
}

.container-color {
    background-color: rgb(34, 30, 30);
}

.button-clear {
    background-color: transparent;
    border: 2px;
    border-color: white;
}